<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6 div-image div-welcome-image">
            <img src="../../assets/undraw_happy_announcement_ac67.svg" alt="welcome" class="welcome-image">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 div-image">
            <div class="col-lg-12 col-md-12 col-sm-12 px-0 mb-2 text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="card shadow rounded text-dark bg-light" (click)="onOpenPage('pos-kasir')">
                            <div class="card-body p-2">
                                <p class="card-text">
                                    POS KASIR
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="card shadow rounded text-dark bg-light" (click)="onOpenPage('manajemen-produk')">
                            <div class="card-body p-2">
                                <p class="card-text">
                                    MANAJEMEN PRODUK
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="card shadow rounded text-dark bg-light" (click)="onOpenPage('manajemen-penjualan')">
                            <div class="card-body p-2">
                                <p class="card-text">
                                    HISTORY PENJUALAN
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>